<html>
    <head>
        <title>
            My best site
        </title>
    </head>
    <body>
        <h2>
            {% block title %}
                {% if user.is_anonymous %}
                    <div><a href="{% url 'core:login' %}">Please, login</a></div>
                    <div>Don't have an account? Please, <a href="{% url 'core:register' %}">register</a></div>
                {% else %}
                    Hello, {{ user.username }}!
                    <a href="{% url 'core:logout' %}">Logout</a>
                {% endif %}
            {% endblock %}</h2>
        {% block content %} {% endblock %}
    </body>
</html>