{% extends "core/base.html" %}
{% load widget_tweaks %}
{% block content %}
    <h2>Add blog</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {% if field.label == 'Category' %}
                    <label>{{ field.label }}</label>
                    {{ field|add_class:'chosen-select' }}
                {% else %}
                    <label>{{ field.label }}</label>
                    {{ field|add_class:'form-control' }}
                {% endif %}
            </div>
        {% endfor %}
        <input type="submit" class="btn btn-lg btn-success" value="Submit">
    </form>
{% endblock %}