{% extends "core/base.html" %}
{% load widget_tweaks %}
{% block content %}

    <div>
        <form method="get" action="/blogs/">
            {{ sortform }}
            <input type="submit"/>
        </form>
    </div>

    <h3><a href="{% url 'posts:createblog' %}">Create new blog</a></h3>

    {% for blog in object_list %}
        <b>Blog №{{ blog.id }}: </b>
            <a href="{% url 'posts:blog' pk=blog.id%}">{{blog.title}}</a>
            {% if blog.author == user %}
                <a href="{% url 'posts:editblog' pk=blog.id%}">Edit blog</a>
            {% endif %}
        <br/>
    {% endfor %}
{% endblock %}