{% extends "core/base.html" %}
{% load widget_tweaks %}


{% block navbar %}
{% endblock %}

{% block title %}
        <header style="color: white;">
            <h1 class="text-center">
                <p style="margin-top: 200px;">Getting started!</p>
            </h1>
            <h3 class="text-center">
                Blogs:{{ blog_quant }}, posts: {{ post_quant }}, comments: {{ comment_quant }}
            </h3>
        </header>
{% endblock %}
{% block content %}
        <div class="jumbotron login">
            <h2 class="text-center">
                {% if user.is_anonymous %}
                <div style="margin-bottom: 10px;">You may</div>
                <a href="{% url 'core:login' %}" style="color: white;" >
                    <button class="btn btn-lg btn-success" type="button">Login</button>
                </a>
                or
                <a href="{% url 'core:register' %}" style="color: white;">
                    <button class="btn btn-lg btn-primary" type="button">Register</button>
                </a>
                {% else %}
                <div>
                    <h2>Hello, {{ user.username }}!</h2>
                </div>
                <a href="{% url 'core:logout' %}" style="color: white;">
                    <button class="btn btn-danger" type="button">Logout</button>
                </a>
                {% endif %}
            </h2>
        </div>
        <h3 class="text-center">
            <a href="{% url 'posts:allblogs' %}">
                <button class="btn btn-lg btn-info" type="button">
                    <span class="glyphicon glyphicon-list"></span> All blogs
                </button>
            </a>
        </h3>
        <img src="static/For site.jpg" style="position: fixed; top: 0; left: 0; min-width: 100%; min-height: 100%; z-index: -600" alt="">
{% endblock %}
{% block footer %}
{% endblock %}